{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
      <h2 style="color: #c70d3a;text-align: center" class="display-4">Welcome to our page,</h2>
      <p style="color: #979797;text-align: center" class="lead">you have to post a one minute pitch please feel free to post in any category of your choice</p>
      <h4 style="text-align: center" ><a  href="/pitches/new/" style="color: #c70d3a"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: #c70d3a"></span>   Add Your pitch </a></h4>
      </div>
      <br>
      <ul class="nav nav-tabs" role="tablist" style="color: #c70d3a">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Educational"style="color: #c70d3a">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Musical" style="color: #c70d3a">Musical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Religion" style="color: #c70d3a">Religion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Comedy" style="color: #c70d3a">Comedy</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="Educational" class="container tab-pane active"><br>
          {{ macro.display(Educational) }}
          
        </div>
        <div id="Musical" class="container tab-pane fade"><br>
          {{ macro.display(Musical) }}
        </div>
        <div id="Religion" class="container tab-pane fade"><br>
          {{ macro.display(Religion)}}
        </div>
        <div id="Comedy" class="container tab-pane fade"><br>
          {{ macro.display(Comedy) }}
        </div>
        
      </div>
    </div>
  </body>
  {% endblock %}